host: {{ host }}
name: '{{ name }}'
groups:
- groupid: {{ groups[0].groupid }}
templates:
- templateid: {{ templates[0].templateid }}
status: '{{ status }}'
hostid: '{{ hostid }}'
tags:
- tag: name
  value: {{ tags[0].value }}
- tag: ip
  value: {{ tags[1].value }}
interfaces:
- interfaceid: {{ interfaces[0].interfaceid }}
  hostid: {{ interfaces[0].hostid }}
  main: {{ '' }}
  type: {{ interfaces[0].type }}
  useip: {{ interfaces[0].useip }}
  ip: {{ interfaces[0].ip }}
  dns: {{ interfaces[0].dns }}
  port: {{ interfaces[0].port }}
  details: {{ interfaces[0].details | tojson }}
